<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.droogcompanii.application"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="ru.droogcompanii.application.DroogCompaniiApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.activity.start_activity.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.synchronization_activity.SynchronizationActivity"
            android:label="@string/titleOfSynchronizationActivity" >
        </activity>
        <activity
            android:name=".ui.activity.main_screen.MainScreen"
            android:label="" >
        </activity>
        <activity
            android:name=".ui.activity.search_activity.SearchActivity"
            android:label="@string/titleOfSearchActivity" >
        </activity>
        <activity
            android:name=".ui.activity.search_result_activity.SearchResultActivity"
            android:icon="@android:drawable/ic_menu_search"
            android:label="" >
        </activity>
        <activity
            android:name=".ui.activity.search_result_map_activity.SearchResultMapActivity"
            android:icon="@android:drawable/ic_menu_search"
            android:label="" >
        </activity>
        <activity
            android:name=".ui.activity.partner_activity.PartnerActivity"
            android:label="" >
        </activity>
        <activity
            android:name=".ui.activity.filter_activity.FilterActivity"
            android:label="@string/titleOfFilterActivity"
            android:icon="@android:drawable/ic_menu_sort_by_size" >
        </activity>
        <activity
            android:name=".ui.activity.menu_activity.MenuActivity"
            android:label="@string/titleOfMenuActivity"
            android:icon="@android:drawable/ic_dialog_dialer" >
        </activity>
        <activity
            android:name=".ui.activity.personal_account_activity.PersonalAccountActivity"
            android:label="@string/titleOfPersonalAccountActivity" >
        </activity>
        <activity
            android:name=".ui.activity.stock_activity.StockActivity"
            android:label="@string/titleOfStockActivity" >
        </activity>
        <activity
            android:name=".ui.activity.settings_activity.SettingsActivity"
            android:icon="@android:drawable/ic_menu_preferences"
            android:label="@string/titleOfSettingsActivity" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_v2_api_key" />

    </application>

</manifest>